
    <!-- Sidebar -->
    
        <div  id="sidebar-wrapper">
            <div class="list-group list-group-flush">
               <i class="fa fa-wallet"></i>
              <a href="#" class="list-group-item list-group-item-action bg-light">Wallet</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Wolfpacks</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Portfolio</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Transparency</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">All Properties</a>
            </div>
          </div>
    
  
    <!-- /#sidebar-wrapper -->

               
  
